@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Inter Variable', 'sans-serif';
  --font-sans: 'Inter Variable', 'sans-serif';

  --color-muted-50: #f5f6f6;
  --color-muted-100: #e4e7e9;
  --color-muted-200: #ccd2d5;
  --color-muted-300: #a9b3b7;
  --color-muted-400: #7e8b92;
  --color-muted-500: #637077;
  --color-muted-600: #555f65;
  --color-muted-700: #495155;
  --color-muted-800: #3d4246;
  --color-muted-900: #393d40;
  --color-muted-950: #232629;

  --color-crimson-50: #fff1f2;
  --color-crimson-100: #ffe1e3;
  --color-crimson-200: #ffc8cb;
  --color-crimson-300: #ffa1a7;
  --color-crimson-400: #fe6b74;
  --color-crimson-500: #f73c47;
  --color-crimson-600: #e5212d;
  --color-crimson-700: #c0151f;
  --color-crimson-800: #9f151d;
  --color-crimson-900: #84181f;
  --color-crimson-950: #48070b;

  --color-blackpearl-50: #f1f8fe;
  --color-blackpearl-100: #e2effc;
  --color-blackpearl-200: #bfdef8;
  --color-blackpearl-300: #87c5f2;
  --color-blackpearl-400: #47a7e9;
  --color-blackpearl-500: #1f8dd8;
  --color-blackpearl-600: #116eb8;
  --color-blackpearl-700: #0f5895;
  --color-blackpearl-800: #114b7b;
  --color-blackpearl-900: #144066;
  --color-blackpearl-950: #091c2f;

  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  
  --animate-fade-in: fade-in 0.5s linear forwards;
  --animate-spin-slow: spin 4s linear infinite;
  --animate-spin-slower: spin 6s linear infinite;
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 4s linear infinite;
  --animate-spin-reverse-slower: spin-reverse 6s linear infinite;
  
  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }

    @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}

@theme inline {
  --animate-marquee: marquee var(--marquee-duration) linear infinite;

  @keyframes marquee {
    100% {
      transform: translateY(-50%);
    }
  }
}

.btn-primary {
  @apply bg-crimson-700 border border-crimson-600 text-white font-sans font-light rounded-xs px-9 py-3 flex items-center justify-center gap-2 cursor-pointer hover:bg-white hover:border-crimson-950 hover:text-crimson-900 transition-all duration-200 hover:scale-105;
}

.btn-accent {
  @apply bg-crimson-300 border border-crimson-500 text-crimson-900 font-sans font-light rounded-xs px-9 py-3 flex items-center justify-center gap-2 cursor-pointer hover:bg-white hover:border-crimson-950 hover:text-crimson-900 transition-all duration-200 hover:scale-105;
}

.btn-transparent {
  @apply bg-transparent border border-white font-sans rounded-xs px-9 py-3 text-white font-light cursor-pointer hover:bg-white hover:text-crimson-950 transition-all duration-200 hover:scale-105;
}

.title {
  @apply font-title text-4xl md:text-5xl lg:text-6xl font-bold mb-4
}

.title-bright {
  @apply font-title text-4xl md:text-5xl lg:text-6xl/16 font-bold text-white mb-4
}

.subtitle {
  @apply text-lg md:text-xl font-medium font-title text-crimson-600 max-w-3xl mx-auto
}

.subtitle-bright {
  @apply text-lg md:text-xl font-medium font-title text-gray-100 max-w-3xl mx-auto
}

h1, h2, h3, h4, h5, h6 {
  @apply font-title
}